@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    pointer-events: none;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 10px;
}

ul {
    list-style: none;
}

body {
    padding-top: 1rem;
    background-color: #0A1014;
}

#main .container {
    padding: 0;
    height: 95vh;
    background-color: #111A20;
    display: flex;
    justify-content: center;
}

#main .container .leftSide {
    border-right: 1px solid #36414569;
    height: 100%;
    flex: 30%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#profile {
    cursor: pointer;
}

#profile img {
    width: 40px;
    border-radius: 50%;
}

nav {
    position: sticky;
    top: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
}

nav .upSide {
    display: flex;
    justify-content: space-between;
    background-color: #212C32;
    padding: .4rem 2rem .4rem 1rem;
    color: #AFBAC0;
}

#menu {
    display: flex;
    align-items: center;
}

#menu ul {
    display: flex;
    align-items: center;
    gap: 0 30px;
}

#menu ul li i {
    font-size: 1.2em;
    cursor: pointer;
}

.bottomSide {
    background-color: #111A20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .4rem 1rem .4rem .8rem;
    border-bottom: 1px solid #36414569;
    
}

#inputBox {
    position: relative;
}

#inputBox .search {
    position: absolute;
    top: 50%;
    color: rgba(255, 255, 255, .5);
    font-size: 1em;
    transform: translateY(-50%);
    margin-left: .8rem;
}

.bottomSide input {
    width: 385px;
    background-color: #212C32;
    color: #fff;
    border: none;
    outline: none;
    padding: .5rem .4rem .5rem 3rem;
    border-radius: 8px;
}

.bottomSide input::placeholder {
    color: rgba(255, 255, 255, .5);
}

.bottomSide #filter ul li i {
    color: rgba(255, 255, 255, .5);
}

/* chat */

#chat {
    display: flex;
    flex-direction: column;
}

.chatItem {
    padding: 1rem 0 1rem 1rem;
    border-bottom: 1px solid #36414569;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.chatItem:hover {
    background-color: #202c33;
}

.chatItem .nameSide {
    display: flex;
    gap: 0 10px;
}

.chatItem .pp img {
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.chatItem .text p {
    max-width: 200px;
    max-height: 20px;
    overflow: hidden;
    font-size: .85em;
    color: rgba(255, 255, 255, .5);
}

.chatItem .text h3 {
    color: #E9EDEF;
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: .2rem;
}

.chatItem .clockSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px 0;
    padding: 0 1rem;
}

.clockSide span {
    color: rgba(255, 255, 255, .5);
    font-weight: 100;
    font-size: 0.8em;

}

.chatItem .clockSide span.pin {
    margin-right: -15px;
    transform: rotate(50deg);
    font-size: 1em;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: #364159 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: #222E35;
}

*::-webkit-scrollbar-thumb {
    background-color: #364145;
    border-radius: 0px;
    border: 2px none #ff2929;
}

#main .container .rightSide {
    flex: 70%;
    background-color: #222E35;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, .5);
}

#main .container .rightSide .content {
    max-width: 600px;
    font-weight: 300;
    font-size: 1em;
}

.rightSide .content .title h1 {
    margin: 2rem 0 1rem 0;
    font-weight: 300;
    color: #D0D6D9;
    font-size: 1.6em;
}

.rightSide .content .line {
    width: 50%;
    height: 1px;
    background-color: rgba(255, 255, 255, .5);
    margin: 1.5rem auto;
}

.rightSide .content .download a {
    color: #4EB3DD;
    text-decoration: none;
}

.rightSide .content .download a:hover {
    text-decoration: underline;
}